<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- définir le format d'une ligne de log : date, niveau, nom de la classe, message -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level [%logger{30}] %msg%n</pattern>
        </encoder>
    </appender>

    <!--réduire le niveau des bibliothèques externes à WARN pour ne pas polluer les logs.-->
    <logger name="org.eclipse.paho" level="WARN"/>
    <logger name="org.eclipse.paho.client.mqttv3" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
